%div.container
  %h1 pier, oversikt

  %table.table
    %thead
      %tr
        %th{scope: "col"} Bokstav
        %th
        %th
        %th

    %tbody
      - @piers.each do |pier|
        %tr
          %td= pier.letter
          %td= link_to 'Endre', edit_pier_path(pier), class: "text-primary"
          %td= link_to 'Slett', pier, method: :delete, data: { confirm: 'Er du sikker?' }, class: "text-primary"

  %br
  = link_to 'Ny pier', new_pier_path, class: "btn btn-primary btn-lg text-light btn-sm"
