%div.container
  %div.row
    %div.col-6
      %div.jumbotron
        %h1.display-6 Båtplass
        %p.lead
          Marinade Bay tilbyr båtplasser i alle størrelser for salg eller leie.
          Alle båtplasser disponerer eget strømuttak og det er installert vannposter på bryggene.
          Det er god parkeringsdekning like i båtenes nærhet. Ta kontakt i dag så
          finner vi en løsning som passer din båt og dine behov.
          %hr
        %h2.display-6 Et godt utgangspunkt
        %p.lead
          Marinade Bay ligger der båtturen starter. Med kort vei til Alvheims perler
          får du mer ut av tiden i båten. Våre dyktige servicebedrifter står
          klar når båten trenger ettersyn, eller du gjør servicen selv på
          områder som er tilrettelagt for båtvask, bunnstoffing og oljeskift.
          Legg neste tur til Alvheim og la deg begeistre av det som sannsynligvis er Norges nest mest
          komplette anlegg for båtplass, båtlagring, båthotell, båtservice og båtløft.
    %div.col-6
      %br
      = image_tag('berth.jpg', size: '640x480', class: "img-fluid")
