%div.container
  = render "header_image"
  %div.row
    %div.col-6
      %div.jumbotron
        %h1.display-6 Båtopptak og slipp
        %p.lead
          I Marinade Bay er forholdene spesielt godt tilrettelagt
          for effektivt båtopptak, båtløft og slipping. Uansett om båten er
          liten eller stor blir båten løftet, fraktet og satt på plass i
          samme operasjon.
        %p.lead
          For store båter har vi egne løftestropper som gir spesielt
          skånsomt løft for å minske trykket mot skroget. Vi har alt av
          nødvendige krybber og støtter for trygt opplag på land eller i
          båthotellet. Ring oss på
          %strong 81 54 93 00
          for avtale, eller send epost til
          %a{:href => "mailto:post@marinadebay.com"} post@marinadebay.no
    %div.col-6
      %br
        = image_tag('boatcrane.jpg', size: '500x500', class: "img-fluid")
