%div.container
  %div.row
    %div.col
      %div.jumbotron
        %h1.display-6 En førsteklasses båthavn
        %p.lead
          Marinade Bay ligger der båtturen starter. Med kort vei til Alvheims perler får du mer ut av tiden i båten.
          Opplev et maritimt miljø der båtglede og opplevelser står i fokus. Legg neste tur til Marinade Bay og la deg
          begeistre av det som sannsynligvis er Norges nest mest komplette anlegg for båtplass, båtlagring, båthotell, båtservice og båtløft
        %hr
        %div.row
          %div.col-4
            -# Empty element
          %div.col-2
            -# Placeholder for nå
            - if user_signed_in?
              = link_to 'Bestill båtplass', new_berth_order_path, class: "btn btn-primary btn-lg text-light"
            - else
              = link_to 'Bestill båtplass', new_user_session_path, class: "btn btn-primary btn-lg text-light"
    %div.col
      %br
      = image_tag('havn.jpg', size: "500x400")
