%div.container
  %div.row
    %div.col
      %div.jumbotron
        %h1.display-6 En førsteklasses båthavn
        %p.lead
          Marinade Bay ligger der båtturen starter. Med kort vei til Alvheims perler får du mer ut av tiden i båten.
          Opplev et maritimt miljø der båtglede og opplevelser står i fokus. Legg neste tur til Marinade Bay og la deg
          begeistre av det som sannsynligvis er Norges nest mest komplette anlegg for båtplass, båglagring, båthotell, båtservice og båtløft
    %div.col
      %br
      = image_tag('havn.jpg', size: "500x400")
