
%div.container
  = render "header_image"
  %div.row
    %div.col-6
      %div.jumbotron
        %h1.display-6 Klargjør båten selv
        %p.lead
          Så snart våren er i anmarsj summer det av ivrige båteiere som selv tar
          service og klargjør båten til en ny sesong. Med god tilgang til strøm og
          vann er det bare å brette opp ermene og sette igang med det som for
          mange båteiere er en trivelig og lønnsom fritidssyssel.
        %p.lead
          Området er utstyrt med oljeutskiller og miljøcontainer slik at naturen
          skånes for unødvendig skade og søl. Alt av bunnstoff polering og
          redskaper selges hos oss. Rullestillas og stiger er tilgjengelig ved behov.
          Når båten er "shipshape" stiller vi med kran og får den sjøsatt på
          skånsomt vis. Ønsker du
          %i ikke
          å gjøre jobben selv kan vi tilby alle typer
          vedlikehold og reperasjoner via våre lokale samarbeidspartnere.
    %div.col-6
      %br
        = image_tag('maintenance.jpg', size: '1000x703', class: "img-fluid")
