%div.container
  %p#notice= notice

  %table.table
    %thead
      %tr
        %th{scope: "col"} Brukernivå
        %th{scope: "col"} Epost

      %tr
        %td
          - if @user.user_level == 1
            Administrator
          - elsif @user.user_level == 0
            Kunde
        %td= @user.email

  = link_to 'Endre', edit_user_path(@user), class: "btn btn-primary btn-lg text-light btn-sm"
  = link_to 'Tilbake', users_path, class: "btn btn-primary btn-lg text-light btn-sm"
