%div.container
  %div.row
    %div.col
      %p
        %strong Karianne Berg
        %br
        %i Daglig leder
        %br
        %strong Vakttelefon:
        %a{:href => "tel:81549300"} 815 493 00
        %br
        %a{:href => "mailto:karianne@marinadebay.no"} karianne@marinadebay.no
    %div.col
      %p
        %strong Ole Morten Amundsen
        %br
        %i Eier/Styreleder
        %br
        %a{:href => "tel:90015900"} 900 15 900
        %br
        %a{:href => "mailto:olemorten@marinadebay.no"} olemorten@marinadebay.no
  %div.row
    %div.col
      %p
        %strong Pål André Sundt
        %br
        %i Prosjektkoordinator
        %br
        %a{:href => "tel:91590500"} 915 90 500
        %br
        %a{:href => "mailto:pal@marinadebay.no"} pal@marinadebay.no
    %div.col
      %p
        %strong Thomas Hagen
        %br
        %i Driftsoperatør
        %br
        %a{:href => "tel:95050915"} 950 50 915
        %br
        %a{:href => "mailto:pal@marinadebay.no"} pal@marinadebay.no
