%div.container
  %div.row
    %div.col
      %p
        %strong Marinade Bay AS
        %br
        Bergmark
        %br
        8534 Liland
        %br
        Org nr 912 653 364
    %div.col
      %a{:href => "https://www.google.no/maps/place/Bergmark/@68.4918038,16.7274625,14.75z/data=!4m5!3m4!1s0x45db8b72ac304e0b:0xad7c13158221597d!8m2!3d68.4920889!4d16.7302734?hl=en"}
        %button.btn.btn-primary Veibeskrivelse
