%h2 Mine båter

%table
  %th Reg. nr
  %th Modell
  %th Lengde
  %th Bredde
  %th Båtplass
  %tr

  - @boats.each do |boat|
    - if current_user == boat.user
      %td= boat.reg_nr
      %td= boat.model
      %td= boat.length
      %td= boat.width
      / %td= boat.berth
      %tr

