%form
  %div.form-row
    %div.form-group.col-md-2
      %input#calcInput{type: :text, class: "form-control"}
      %label fot
    %div.form-group.col-md-3
      %input#calcSolution{type: :label, readonly: true, class: "form-control"}
      %label meter
