%h3 Legg til tjenester
%div.form-row
  %div.form-group.col-md-3
    = f.label :fra
    = f.date_field :start_service_order, class: "form-control"
  %div.form-group-col-md-3
    = f.label :til
    = f.date_field :end_service_order, class: "form-control"
