%div.container
  %table.table
    %thead
      %tr
        %th{scope: "col"} Båtnavn
        %th{scope: "col"} Bredde
      %tr
        %td= @boat.name
        %td= @boat.width
        %td


  = link_to 'Endre', edit_boat_path(@boat), class: "btn btn-primary btn-lg text-light btn-sm"
  \
  = link_to 'Tilbake', boats_path, class: "btn btn-primary btn-lg text-light btn-sm"
