%footer
  %div.card-group
    
    %div.card
      %div.card-body
        %h5.card-title Adresse:
        %p.card-text
          Fallos Båtforening
          %br/
          8766 Lurøy

    %div.card
      %div.card-body
        %h5.card-title Kontakt
        %p.card-text
          Epost:
          %a{:href => "mailto:smegma@gmail.com"} Harald Smegma
          %br/
          Telefon: 80088008
                
    %div.card
      %div.card-body
        %p.card-text 
        %p.card-text
        
