%footer
  %div.card-group
    %div.card
      %img.card-img-top
      %div.card-body
        %h5.card-title Kort 1
        %p.card-text Vi trenger naturligvis ikke bruke dette til footer, men er bare et eksempel!
        %p.card-text
          %small.text-muted Last updated 3 mins ago
    %div.card
      %img.card-img-top
      %div.card-body
        %h5.card-title Kort 2
        %p.card-text Og dersom du har andre forslag, så er det bare å kaste inn. Sånn sett er github grusomt kjekt!
        %p.card-text
          %small.text-muted Last updated 3 mins ago
    %div.card
      %img.card-img-top
      %div.card-body
        %h5.card-title Kort 3
        %p.card-text Vurderte å gjøre det til en "sticky footer", men det er jo egentlig bare irriterende, hvertfall på en side som denne.
        %p.card-text
        %small.text-muted Last updated 3 mins ago