%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  %ul.navbar-nav
    %li.nav-item.active
      %a.nav-link(href="/") Hjem
    %li.nav-item
    -# /batplass
      %a.nav-link(href="/#") Båtplass
    %li.nav-item
      -# /batslipp
      %a.nav-link(href="/#") Båtslipp
    %li.nav-item
      -# /tjenester
      %a.nav-link(href="/#") Tjenester
    %li.nav-item
      -# /kontakt
    %a.nav-link(href="/contact") Kontakt