%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  %ul.navbar-nav
    %li.nav-item.active
      %a.nav-link(href="/") Hjem
    %li.nav-item
      -# /batplass
      %a.nav-link(href="/batplass") Båtplass
    %li.nav-item
      -# /batslipp
      %a.nav-link(href="/batslipp") Båtslipp
    %li.nav-item
      -# /tjenester
      %a.nav-link(href="/tjenester") Tjenester
    %li.nav-item
      -# /kontakt
    %a.nav-link(href="/contact") Kontakt

    %p.navbar-text.pull-right
      - if user_signed_in?
        = link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' |
        = link_to "Log out", destroy_user_session_path, method: :delete, :class => 'navbar-link'
      - else
        = link_to "Sign up", new_user_registration_path, :class => 'navbar-link'
        = link_to "Login", new_user_session_path, :class => 'navbar-link'
